.card {
  display: flex;
  flex-direction: column;
  padding: 3rem 6rem;
  margin: 2rem;
  background-color: whitesmoke;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow);

  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}
